* {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(165 199 207);
}

body {
    padding-top: 10px;
    background-color: rgb(165 199 207);
}

.nav-link {
    padding-top: 3px;
    color: black;
}

.nav-link:hover {
    color: black;
    font-weight: bold;
}

.tab-content {
    padding-top: 1rem;
}

.link-linkedin{
    color: black;
}

.actionButtons {
    margin: 20px 1px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

}
.grand-annoucer-text{
    text-shadow: -5px 2px 5px #787878;
}

.headerTable {
    background-color: #7497a0;
    font-size: bold;
    color: white;
}

th,
td {
    padding: 10px;

}

.table tr:nth-child(even) {
    background-color: #eee;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table th {
    color: white;
    background-color: #94a5aa;
}

.modal {
    background-color: hsla(0, 0%, 0%, 0.144);
}

#FailModal div .fail {
    background-color: rgb(141, 74, 74);
}

#CreatedModal div .sucess {
    background-color: rgb(75, 143, 75);
}

#nav-tab {
    border-bottom: 6px solid #dee2e6;
}